{% extends "Core/base.html" %}

{% load static %}

{% block title %} <title> Cabalgata Reis Macs </title> {% endblock %}

{% block content %}

<main class="container">
    <div class="row mt-5 mx-5 mb-5">
        <!-- CITIE SECTION -->
        <section class="col-lg-6 col-sm-12 mt-5">
            <div>
                <h1 class="fw-bold display-4"> {% for city in cities %} {{city.name}} {% endfor %} </h1>
                <p class="lead">{% for citi in cities %} {{citi.allName}} {% endfor %}</p>
            </div>

            <div>
                <a type="button" class="btn btn-success pt-3 pb-3 px-4"
                    href="{% for city in cities %} {{city.descargar}} {% endfor %}" download="name">Descargar Mapa</a>
            </div>

            <div>
                <p class="mt-5 mb-4 lead fw-bold">Per on passara ?</p>
                <p>{% for city in cities %} {{city.route}} {% endfor %}</p>
            </div>
        </section>
        <!-- END CITIE SECTION -->


        <!-- MAP SECTION -->
        <section class="col-lg-6 col-sm-12 mt-5">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d25118.61245155084!2d3.839635788960142!3d40.00270597439485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2ses!4v1639386388062!5m2!1ses!2ses"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="rounded-3"></iframe>
        </section>
        <!-- END MAP SECTION -->
    </div>

    <hr class="mx-5">

    <div class="row mt-5 mb-5">
        <!-- CALENDAR SECTION -->
        <section>
            <div id='calendar' class="col-12 text-dark card pt-4 px-4 pb-4">
            </div>
        </section>
        <!-- END CALENDAR SECTION -->
    </div>

    <!-- SCRIPT FULLCALENDAR -->

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {

                timeZone: 'local',

                locale: 'es',

                themeSystem: 'bootstrapFontAwesome',

                initialView: 'listWeek',

                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },

                titleFormat: {
                    year: 'numeric', month: 'long'
                },

                buttonText: {
                    today: 'Hoy',
                    month: 'Mes',
                    week: 'Semana',
                    day: 'Día',
                    list: 'Lista'
                },

                height: 600,

                nowIndicator: true,

                selectable: true,

                navLinks: true,

                eventBackgroundColor: '#ffa500',

                events: [

                    {% for event in events %}
                    
                        {
                    title: '{{event.title}}',
                    start: '{{event.start}}',
                    end: '{{event.end}}',
                    url: '{{event.url}}',
                    classNames: ['lead']
                },

                {% endfor %}
                ],
                
            });
        calendar.render();
        });

    </script>

    <!-- END SCRIPT FULLCALENDAR -->
</main>

{% endblock %}